<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>./ice-cube-idle (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{36,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,47}}</string>
        <key>sourceSize</key>
        <string>{36,47}</string>
      </dict>
      <key>./ice-cube-idle (4)</key>
      <dict>
        <key>frame</key>
        <string>{{0,47},{36,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,47}}</string>
        <key>sourceSize</key>
        <string>{36,47}</string>
      </dict>
      <key>./ice-cube-idle (2)</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{36,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,46}}</string>
        <key>sourceSize</key>
        <string>{36,46}</string>
      </dict>
      <key>./ice-cube-idle (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{36,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,46}}</string>
        <key>sourceSize</key>
        <string>{36,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>./ice-cube-idle.png</string>
      <key>size</key>
      <string>{36,186}</string>
      <key>textureFileName</key>
      <string>./ice-cube-idle</string>
    </dict>
  </dict>
</plist>
