<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./character-run (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-6}</string>
    <key>spriteSize</key>
    <string>{25,29}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{31,58},{25,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-run (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-5}</string>
    <key>spriteSize</key>
    <string>{25,26}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{58,58},{25,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-run (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-6}</string>
    <key>spriteSize</key>
    <string>{29,26}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{31,30},{29,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-run (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,-7}</string>
    <key>spriteSize</key>
    <string>{27,27}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{0,60},{27,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-run (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-7}</string>
    <key>spriteSize</key>
    <string>{29,28}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{0,0},{29,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-run (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{29,28}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{0,30},{29,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-run (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-5}</string>
    <key>spriteSize</key>
    <string>{29,28}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{31,0},{29,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-run (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-7}</string>
    <key>spriteSize</key>
    <string>{23,27}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{62,0},{23,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{87,89}</string>
   <key>textureFileName</key>
   <string>character-run.png</string>
  </dict>
 </dict>
</plist>
