<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./character-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,0}</string>
    <key>spriteSize</key>
    <string>{28,42}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{110,0},{28,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{56,42}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{0,0},{56,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,0}</string>
    <key>spriteSize</key>
    <string>{52,42}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{0,44},{52,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-1}</string>
    <key>spriteSize</key>
    <string>{48,40}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{0,88},{48,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-2}</string>
    <key>spriteSize</key>
    <string>{30,37}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{104,44},{30,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-5}</string>
    <key>spriteSize</key>
    <string>{28,32}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{92,122},{28,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-5}</string>
    <key>spriteSize</key>
    <string>{30,32}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{92,88},{30,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-5}</string>
    <key>spriteSize</key>
    <string>{28,32}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{122,122},{28,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-1}</string>
    <key>spriteSize</key>
    <string>{48,40}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{54,44},{48,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-1}</string>
    <key>spriteSize</key>
    <string>{50,39}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{58,0},{50,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-1}</string>
    <key>spriteSize</key>
    <string>{40,39}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{50,88},{40,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-attack (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-6}</string>
    <key>spriteSize</key>
    <string>{24,29}</string>
    <key>spriteSourceSize</key>
    <string>{64,44}</string>
    <key>textureRect</key>
    <string>{{124,88},{24,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{152,156}</string>
   <key>textureFileName</key>
   <string>character-attack.png</string>
  </dict>
 </dict>
</plist>
