<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./character-idle (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{19,33}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{23,33},{19,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-idle (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{19,33}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{46,0},{19,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-idle (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-5}</string>
    <key>spriteSize</key>
    <string>{21,32}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{0,0},{21,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-idle (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-5}</string>
    <key>spriteSize</key>
    <string>{21,31}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{23,0},{21,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-idle (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-5}</string>
    <key>spriteSize</key>
    <string>{19,31}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{46,35},{19,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./character-idle (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-5}</string>
    <key>spriteSize</key>
    <string>{19,32}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{0,34},{19,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{67,68}</string>
   <key>textureFileName</key>
   <string>character-idle.png</string>
  </dict>
 </dict>
</plist>
